<div class="container">
    <div>
        <br>
        <p style="font-size: x-large;">Signup</p>
        <hr>
        <label>UserName</label>
        <input type="text" class="form-control" [(ngModel)]="userName">
        <label>Password</label>
        <input type="text" class="form-control" [(ngModel)]="password">
        <label>Confirm Password</label>
        <input type="text" class="form-control" [(ngModel)]="conPass">
        <button class="btn btn-primary"
            checkNull [userName]="userName" [password]="password" 
            (click)="signup()" > SignUp 
        </button>
        <p checkNull>lol</p>
    </div>
    
</div>